/*       Variables       */
:root{
    --violet-1: #4A148C;
    --violet-2: #12005E;
    --violet-3: #7C43BD;
    --violet-4: #F3E7FF;

    --gray-1: #454545;
    --gray-2: #8F8F8F;
    --gray-3: #B6B6B6;
    --gray-4: #434343;
    --gray-5: #8D8D8D;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b498ff;
    padding: 1rem;
}

article{
    width: 23.4375rem;
    height: 41.6875rem;
}


/*                  Top               */
.top-container {
    background-color: var(--violet-1);
    height: 7.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.25rem 0.25rem rgba(101, 101, 101, 0.25);
    position: relative; /* Overlaps box-shadow on middle-container */
    border-radius: 1.25rem 1.25rem 0 0;
}
.app-title {
    font-size: 2rem;
    color: white;
    margin-top: -1.125rem;
    text-shadow: 0 0.25rem 0.25rem rgba(40, 0, 75, 0.75);
}
.f-size-title-s{
    font-size: 1.5rem;
}
.information-button{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 0.8125rem;
    margin-right: 0.75rem;
}

.top-bars {
    display: flex;
    margin-top: 1rem
}

.search-box{
    background-color: white;
    width: 14.0625rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    margin-right: 0.625rem;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(179, 179, 179, 0.25));
    /*       Center icon       */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    width: 100%;
    height: 1.875rem;
    padding: 0 0.5rem 0 0.75rem;
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    color: #454545;
}
.search-box a{
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    float: right;
    margin-right: 0.3125rem;
    cursor: pointer;
    font-size: 1.125rem;
    color: #B9B9B9;
    /*       Center icon       */
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-bar{
    display: flex;
    box-shadow: 0 0.25rem 0.25rem rgba(98, 18, 148, 0.25);
}
.base-bar label{
    width: 3.5rem;
    height: 1.875rem;
    border-radius: 1.875rem 0 0 1.875rem;
    background-color: var(--violet-2);
    font-size: 1rem;
    color: #BC6DFF;
    /*       Center text       */
    display: flex;
    align-items: center;
    justify-content: center;
}
.base-bar select{
    width: 4rem;
    height: 1.875rem;
    outline: none;
    border: none;
    border-radius: 0 1.875rem 1.875rem 0;
    background-color: var(--violet-3);
    font-size: 1rem;
    color: var(--violet-4);
    text-align-last: center;
}


/*                  Middle               */
.middle-container{
    width: 100%;
    height: 27.625rem;
    background-color: white;
    overflow-y: scroll;
    padding-bottom: 1rem;

    /*       Center cards       */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-container::-webkit-scrollbar{
    width: 0.375rem;
}
.middle-container::-webkit-scrollbar-thumb{
    background: #7c43bd;
    border-radius: 0.1875rem;
}

.card {
    width: 21.875rem;
    min-height: 3.125rem;
    border-radius: 0.5625rem;
    box-shadow: 0 0.25rem 0.25rem rgba(70, 70, 70, 0.25);
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.card a {
    font-size: 0.875rem;
    color: #FFD644;
    /* color: #D6D6D6; */
    cursor: pointer;
    align-self: flex-start;
    margin-top: 0.375rem;
    margin-left: 0.5rem;
}
.card-name{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.625rem;
}
.card-name h2 {
    font-size: 0.9375rem;
    font-weight: bold;
    color: var(--gray-1);
    margin-top: 0.25rem;
}
.card-name div{
    min-height: 30px;
}
.card-name p {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--gray-2);
    display: inline-block;
    line-height: 0.75rem;
}
.card-value {
    align-self: center;
    margin-left: auto;
    margin-right: 0.5rem;
    text-align: right;
}
.card-value p{
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gray-3);
}
.card-value p span{
    font-size: 0.5625rem;
}
.card-value h3{
    font-size: 1.1875rem;
    font-weight: 500;
    color: var(--gray-4);
}
.card-value h3 span{
    font-size: 0.875rem;
    color: var(--gray-5);
}


/*                  Bottom               */
.bottom-container{
    background-color: var(--violet-1);
    width: 100%;
    height: 6.1875rem;
    box-shadow: 0 -0.25rem 0.25rem rgba(101, 101, 101, 0.25);
    position: relative;
    border-radius: 0 0 1.25rem 1.25rem;

    /*       Center elements       */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bottom-container i {
    font-size: 1.75rem;
    color: var(--violet-2);
    margin: 0 0.5rem;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(38, 0, 71, 0.25));
}

.exchange-container{
    padding-top: 1rem;
    display: flex;
}

.exchange-box{
    display: flex;
    font-size: 0.8125rem;
    font-weight: 600;
    box-shadow: 0 0.25rem 0.25rem rgba(38, 0, 71, 0.25);
}
.exchange-box select{
    width: 3.8125rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 0.3125rem 0 0 0.3125rem;
    background-color: var(--violet-2);
    font-size: 0.875rem;
    color: var(--violet-4);
    text-align-last: center;
}
.exchange-box input{
    width: 5.5625rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 0 0.3125rem 0.3125rem 0;
    font-weight: 500;
    text-align: right;
}
.bottom-container p {
    font-size: 0.625rem;
    color: #a861ff;
    margin-bottom: 0.5rem;
}